3 melee weapons
9 weapons (10 if I include mines as a weapon. Might do that)

Rework the shotgun and rocket launcher for sure

Menu system
10 levels? With some levels being off limits depending on what you decide to do, and some being the same level, but from a different perspective

Basic story with the several companies

levels around 5-10 minutes long at most

Shop? Or maybe only get weapons from the field where you can bring back weapons

Loadout menu/walk around a room to get the weapons you want. Each level will start with a certain amount of ammo per gun. 

